/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  /* Estilos do chat */
  #messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  form {
    display: flex;
    margin-top: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px; /* Adicionando espaçamento entre o campo de texto e o botão */
  }
  
  button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  }